* {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: black;
}

.name:visited,
.name {
  color: black;
  background: linear-gradient(
    to right,
    red,
    grey,
    white
  );
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.main-nav li {
  background: linear-gradient(
    to right,
    red,
    grey,
    white
  );
  color: black;
  width: 150px;
  font-weight: 800;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
}

 a, a:visited {
  text-decoration: none;
  color: white;
} 

.intro-box {
  background-image: url('../img/Skyline.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  color: black;
  border: solid 8px black;
  border-radius: 10px;
  padding: 15px;
  background: conic-gradient(red, grey, white, red);
}

.biopic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.biopic:hover {
  transition: all 1s;
  transform: scale3d(1.15, 1.15, 3) rotate(360deg);
  border-radius: 0;
}

.row {
  background-color: grey;;
  padding: 20px;
}

.column {
  margin: 0px 20px;
  border: 4px double #435c2b;
  border-radius: 6px;
  padding: 0 10px;
  background: conic-gradient(red, grey, white, red);
  font-weight: 800;
}

.primary {
  margin-bottom: 20px;
}

.secondary {
  margin-bottom: 20px;
}

.comp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 35px;;
}

.comp li {
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  background-color: red;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  width: 75px;
}

.comp li:nth-child(even) {
  background-color: black;
}

/* About page styling */

.content-rows {
  display: flex;
  flex-direction: column;
  background-color: grey;
}

.content-rows div {
  border: 4px double #435c2b;
  border-radius: 6px;
  background: conic-gradient(red, grey, white, red);
  color: black;
  margin: 0 10px;
}

.content-rows div:nth-of-type(odd) {
  margin: 10px;
}

.content-rows img {
  height: 125px;
  width: 150px;
  border-radius: 25%;
  float: left;
  margin: 15px;
}

.content-rows h3 {
  margin: 20px 10px;
}

.content-rows div:nth-of-type(even) img  {
  float: right;
}

/* General Projects Page */

.projects {
  background-color: grey;
  padding: 20px;
}

.project-row {
  text-align: center;
  margin: 20px;
  border: 4px double #435c2b;
  border-radius: 6px;
  background: conic-gradient(red, grey, white, red);
  color: black;
}

.project-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-image {
  height: 150px;
  width: 150px;
  margin: 25px;
}

.project-image:hover {
  transform: scale(1.5);
}

.project-row p {
  font-size: 16px;
}

/* Contact page styles */

.contact-wrap {
  background-color: grey;
  padding: 20px;
}

.contact-end {
  padding-bottom: 10px;
}

/* Footer styles */

.wrap-foot {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-initial {
  margin-top: -2px;
}

.footer-final {
  padding: 10px 0;
  margin-bottom: 0px;
}

.footer-text {
  padding-top: 10px; 
  color: white;
  margin-bottom: -10px;
}

.social-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-nav li {
    width: 150px;
    align-self: auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    flex: 1 40%;
  }

  .secondary {
    order: -1;
  }

  .comp li {
    font-size: 16px;
  }

  .project-images {
    display: flex;
    flex-direction: row;
  }

  .project-image {
    height: 180px;
    width: 180px;
  }

  .project-row p {
    font-size: 18px;
  }

  .social-box {
    justify-content: center;
  }

  .wrap-foot {
    flex-direction: row;
  }

  .footer {
    padding-left: 20px;
    padding-top: 8px;
    line-height: 0.6;
  }

  .social-last {
    padding-right: 10px;
  }
}

@media (min-width: 1200px) {
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex-basis: 0;
  }

  .primary {
    flex-grow: 1.5;
    margin-bottom: 0;
  }

  .secondary {
    margin-bottom: 0;
  }

  .project-image {
    height: 300px;
    width: 300px;
  }

  .wrap-foot {
    flex-direction: row;
  }
}
