/* About page styling */

.content-rows {
  @include flex;
  background-color: $theme-grey;
  div {
    border: 4px double #435c2b;
    border-radius: 6px;
    background: $theme-conic-gradient;
    color: black;
    margin: 0 10px;
    &:nth-of-type(odd) {
      margin: 10px;
    }
    &:nth-of-type(even) img  {
      float: right;
    }
  }
  img {
    height: 125px;
    width: 150px;
    border-radius: 25%;
    float: left;
    margin: 15px;
  }
  h3 {
    margin: 20px 10px;
  }
}