/* About page styling */

.content-rows {
    @include flex;
    background-color: grey;
  }
  
  .content-rows div {
    border: 4px double #435c2b;
    border-radius: 6px;
    background: $theme-conic-gradient;
    color: black;
    margin: 0 10px;
  }
  
  .content-rows div:nth-of-type(odd) {
    margin: 10px;
  }
  
  .content-rows img {
    height: 125px;
    width: 150px;
    border-radius: 25%;
    float: left;
    margin: 15px;
  }
  
  .content-rows h3 {
    margin: 20px 10px;
  }
  
  .content-rows div:nth-of-type(even) img  {
    float: right;
  }