/* Contact page styles */

.contact {
    @extend %column;
    color: $starry-night;
    font-family: $font-pri;
    &-wrap {
        background-color: $theme-grey;
        padding: 20px;
    }
    &-end {
        padding-bottom: 10px;
        }
}

.mailto {
    color: $starry-night;
    text-decoration: underline;
    &:hover {
        color: white;
    }
}