/* Footer styling */

.wrap-foot {
    @include flex;
    justify-content: space-between;
    background-color: black;
    @media (min-width: $tab) {
        flex-direction: row;
    }
 }
  
.footer {
    @include flex;
    text-align: center;
    @media (min-width: $tab) {
        padding-left: 20px;
        padding-top: 8px;
        line-height: 0.6;
    }
    %footer-text {
        padding-top: 10px; 
        color: white;
        margin-bottom: -10px;
    }
    &-initial {
        @extend %footer-text;
        margin-top: -2px
    }
    &-final {
        @extend %footer-text;
        padding: 10px 0;
        margin-bottom: 0px;
    }
}
  
.social-box {
    @include flex(row);
    margin: 15px auto;
    list-style-type: none;
    @media (min-width: $tab) {
        margin: 15px 0;
        justify-content: flex-end;
    }
}
  
.social-links {
    height: 30px;
    width: 30px;
    padding: 0 10px;
}

.social-last {
    @extend .social-links;
    margin-right: 50px;
    @media (min-width: $tab) {
        margin-right: 20px;
    }
}