/* index styling */

.row {
    background-color: $theme-grey;
    padding: 20px;
    @media (min-width: $tab) {
        display: flex;
        flex-wrap: wrap;
    }
}
  
%column {
    margin: 0px 20px;
    border: 4px double #435c2b;
    border-radius: 6px;
    padding: 0 10px;
    @include fadeOut;
    font-weight: 800;
    @media (min-width: $tab) {
        flex: 1 40%;
    }
    @media (min-width: $desk) {
        flex-basis: 0;
    }
}

.primary {
    @extend %column;
    margin-bottom: 20px;
    @media (min-width: $desk) {
        flex-grow: 1.5;
        margin-bottom: 0;
    }
}

.secondary {
    @extend %column;
    margin-bottom: 20px;
    @media (min-width: $desk) {
        margin-bottom: 0;
        order: -1;
    }
}

.tertiary {
    @extend %column;
}

.comp {
    @include flex(row);
    flex-wrap: wrap;
    li {
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        background-color: red;
        color: white;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        list-style: none;
        width: 75px;
    }
    li:nth-child(even) {
        background-color: black;
    }
    @media (min-width: $tab) {
        font-size: 16px;
    }
}