/* intro styling */

.intro {
    background-image: url('../img/Skyline.jpg');
    background-size: 100% 100%;
    @include flex;
    align-items: center;
    &-text {
        color: $starry-night;
        text-align: center;
        border: solid 8px black;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: -5px;
        @include fadeOut;
    }
}

.biopic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 20px 0;
    &:hover {
        transition: all 1s;
        transform: scale3d(1.15, 1.15, 3) rotate(360deg);
        border-radius: 0;
    }
}