// Mixins

@mixin flex ($dir: column) {
    display: flex;
    flex-direction: $dir;
}

@mixin fadeOut {
    animation: fadeOut 5s;
    background: #FF6666;
}

@keyframes fadeOut  {
    0% {
        background: red;
    }

    100% {
        background: white;
    }
}