/* nav styling */

.flex {
    @include flex;
    align-items: center;
    flex-grow: 1;
    background-color: $starry-night;
    @media (min-width: $desk) {
        @include flex ($dir: row);
        justify-content: space-between;
        height: 100px;
        padding: 0 50px;
    }
    .name, .name:visited {
        color: $starry-night;
        font-family: $font-head;
        background: $theme-gradient;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        &:hover {
            color: white;
            background: $theme-gradient-flip; 
        }
    }
    a, a:visited {
        text-decoration: none;
        color: white;
    }

    .main-nav {
        @include flex;
        list-style-type: none;
        margin-right: 30px;
        @media (min-width: $tab) {
            @include flex(row);
        }
        @media (min-width: $desk) {
            margin-right: 0;
        }
        li {
            background: $theme-gradient;
            color: $starry-night;
            font-family: $font-head;
            width: 150px;
            font-weight: 800;
            text-decoration: none;
            font-size: 20px;
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            @media (min-width: $tab) {
                width: 150px;
                align-self: auto;
            }
            &:hover {
                color: white;
                background: $theme-gradient-flip;     
            }
        }
    }
}