// Variables 

$theme-grey: #4d4d4d;

$theme-gradient: linear-gradient(to right, red, $theme-grey, white);

$theme-gradient-flip: linear-gradient(to left, red, $theme-grey, black);

$theme-conic-gradient: conic-gradient(red, $theme-grey, white, 
red);

// Breakpoint variables

$tab: 768px;

$desk: 1200px;

// Keyframes

@keyframes fadeOut  {
    0% {
        background: red;
    }

    100% {
        background: white;
    }
}