// Variables 

$font-pri: 'Roboto', sans-serif;

$font-head: 'Ubuntu', sans-serif;

$black: #4D0000;

$starry-night: $black;

$grey: #b59c9c;

$light-red: #FF6666;

$theme-grey: $grey;

$theme-background: $light-red;

$theme-gradient: linear-gradient(to right, red, $theme-grey, white);

$theme-gradient-flip: linear-gradient(to left, red, $theme-grey, $starry-night);

// Breakpoint variables

$tab: 768px;

$desk: 1200px;

// Keyframes

@keyframes fadeOut  {
    0% {
        background: red;
    }

    100% {
        background: $theme-grey;
    }
};

// Font stack 

